# LLVM
*.bc
*.out
*.s
*.profile
*.ll
*.dot
*.csv

# Benchmarks
SPEC_CPU2006v1.1/

# Vagrant
.vagrant/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Text file swaps
*~
*.swp
