# LLVM
*.bc
*.out
*.s
*.profile
*.csv
*.ll
*.dot
*.txt

# Benchmarks
SPEC*
benchmarks/

# Vagrant
.vagrant/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Text file swaps
*~
*.swp

# Other OS stuff
~*
*.DS_Store
